/* src/styles/globals.css */

/* Tailwind CSSのプリフライトをインポート */
@import "tailwindcss/preflight";

/* Tailwindのユーティリティをインポート */
@tailwind utilities;

/* カスタムCSS変数 */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* ダークモードのスタイル */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 背景色と文字色の適用 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif; /* Geistフォントを使用 */
}
